<h1> <%= @question.title %> </h1>
<p> <%= image_tag @question.image.url(:medium) %> </p>
<p><%= @question.body %> </p>

<p>
  <%= @question.tags.map {|t| t.name }.join(", ") %>
  <!-- <% @question.tags.each do |t| %>
    <%= t.name %>,
  <% end %> -->
</p>


<% if can? :manage, @question %>
  <%= link_to "Edit", edit_question_path(@question) %>
  <%= link_to "Delete", question_path(@question),
                        method: :delete,
                        data: {confirm: "Are you sure?"} %>
<% end %>
<% user_like = @question.like_for current_user %>
<% if can? :like, @question %>
  <% if user_like.present? %>
    <%= link_to image_tag("http://icons.veryicon.com/16/System/Line/Unlike%202.png", border: 0), question_like_path(@question, user_like), method: :delete %>
  <% else %>
    <%= link_to image_tag("https://www.facebook.com/images/ufi/fbfeed/like.png", border: 0), question_likes_path(@question), method: :post, class: "like" %>
  <% end %>
<% else %>
  Like
<% end  %>
  (<%= pluralize @question.likes.count, "like" %>)

  <hr>
  <div id="vote">
    <%= render 'votes' %>
  </div>



<h2>Create an Answer </h2>
<%#= form_for @answer, url: question_answers_path(@question) do |f| %>
<%#
  form_for [@question, @answer]
  this will generate a form for @answer. For example if you have a field `body`
  the `name` attribute will actually be: answer[body]

  the @question part is only used to generate the action url for the form.

  If @answer is not persisted the url will be: question_answers_path(@question)
  If @answer is persisted the url will:        question_answer_path(@question, @answer)
 %>

     <%= @answer.errors.full_messages.join(", ")  %>



<%= form_for [@question, @answer], remote: true do |f| %>
  <div class="">
    <%= f.text_area :body %>
  </div>
  <%= f.submit  %>
<% end  %>

<% if @question.answers.any? %>
  <h2>Answer</h2>
  <div id="answers">
    <% @question.answers.each do |ans| %>
      <%= render '/answers/answer' , answer: ans %>
    <% end %>
  </div>
<% end %>
